<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:property-placeholder location="classpath:db.properties"/>

    <!--c3p0-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="initialPoolSize" value="${jdbc.initPoolSize}"/>
        <property name="maxPoolSize" value="${jdbc.macPoolSize}"/>
    </bean>

    <!--session factory-->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="packagesToScan" value="com.ztx.qa.entites"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
            </props>
        </property>
    </bean>

    <!--transactionManager-->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!--开启注解事务-->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

    <!--AspectJ-->
    <aop:aspectj-autoproxy/>

    <!--scan-->
    <context:component-scan base-package="com.ztx.qa">
    </context:component-scan>



    <!-- 事务相关控制 -->
    <!--<bean id="defaultTransactionManager"-->
    <!--class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
    <!--<property name="dataSource" ref="dataSource" />-->
    <!--</bean>-->

    <!--<bean id="transactionInterceptor"-->
    <!--class="org.springframework.transaction.interceptor.TransactionInterceptor">-->
    <!--&lt;!&ndash;suppress InjectionValueTypeInspection &ndash;&gt;-->
    <!--<property name="transactionManager" ref="defaultTransactionManager" />-->
    <!--<property name="transactionAttributes">-->
    <!--<props>-->
    <!--<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--<prop key="add*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--<prop key="insert*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--<prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--<prop key="remove*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--<prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--<prop key="clear*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--<prop key="process*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--<prop key="execute*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--<prop key="submit*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--<prop key="audit*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--<prop key="assign*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--<prop key="deal*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--<prop key="complete*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--<prop key="create*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--<prop key="cancel*">PROPAGATION_REQUIRED,-Exception</prop>-->
    <!--</props>-->
    <!--</property>-->
    <!--</bean>-->

    <!--<bean id="transaction.beanNameAutoProxyCreator"-->
    <!--class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">-->
    <!--<property name="proxyTargetClass" value="true"></property>-->
    <!--<property name="beanNames" value="*Service" />-->
    <!--<property name="interceptorNames">-->
    <!--<list>-->
    <!--<value>entityManagerFactory</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->

</beans>